<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grafici</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Bootstrap Icons CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

        <style>
            .card {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombra leggera di base */
                transition: box-shadow 0.3s ease; /* Transizione fluida per l'ombra */
            }
            /* Stile per l'ombreggiatura quando si passa sopra */
            .card:hover {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ombra più marcata quando si passa sopra */
            }
            .card:hover h5 {
                color: #28a745 !important;
            }
            .card-title {
                font-family: "Georgia", sans-serif;
                margin: 0;
                padding: 0;
            }
            .container-a {
                background-color: #6ca577;
                color: black;
                text-align: center;
                padding: 10px 0;
                position: absolute;
                bottom: 5;
                width: 100%;
                margin-top: 3%;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="fas fa-car"></i> DrivenChoice</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Icona della macchina -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-link active" href="/">Home</a>
                        <a class="nav-link" href="/chisiamo">Chi Siamo</a>
                        <a class="nav-link" href="/marchi">I nostri Marchi</a>
                        <a class="nav-link" href="/auto">Tutte le automobili</a>
                        <a class="nav-link" href="/grafici">Grafici</a>
                        <a class="nav-link" href="/Utente">Utente</a>
                        <a class="nav-link" href="/preferiti">Preferiti</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container mt-5 text-center">
            <h1 class="mb-5">Tutti i Grafici</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Marchi/consumi</h5>
                            <p class="card-text">Visualizza il grafico sui marchi preferiti dagli utenti in base ai consumi delle automobili</p>
                            <a href="#" class="btn btn-dark" onclick="openPopup('emissioni.png')">Visualizza grafico</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Marchi/emissioni</h5>
                            <p class="card-text">Visualizza il grafico sul numero di emissioni delle automobili in base ai marchi</p>
                            <a href="" class="btn btn-dark">Visualizza grafico</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Marchi/carburante</h5>
                            <p class="card-text">Visualizza il grafico sui marchi preferiti dagli utenti in base alle tipologie di carburanti delle automobili</p>
                            <a href="" class="btn btn-dark">Visualizza grafico</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">todo</h5>
                            <p class="card-text">todo</p>
                            <a href="" class="btn btn-dark">Visualizza grafico</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">todo</h5>
                            <p class="card-text">todo</p>
                            <a href="" class="btn btn-dark">Visualizza grafico</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">todo</h5>
                            <p class="card-text">todo</p>
                            <a href="" class="btn btn-dark">Visualizza grafico</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">auto/utenti</h5>
                            <p class="card-text">Visualizza il grafico sulle automobili preferite dagli utenti</p>
                            <a href="" class="btn btn-dark">Visualizza grafico</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">utenti/provincia</h5>
                            <p class="card-text">Visualizza la mappa in base alle province degli utenti iscritti al nostro sito</p>
                            <a href="" class="btn btn-dark">Visualizza grafico</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">budget utenti/eta</h5>
                            <p class="card-text">Visualizza il grafico che rappresenta la media del budget degli utenti Under30</p>
                            <a href="" class="btn btn-dark">Visualizza grafico</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-a">
            <p>&copy; 2024 DrivenChoice. All Rights Reserved.</p>
        </div>
        <!-- Includi Bootstrap JS (opzionale) -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    function openPopup(imageUrl) {
        var popupWindow = window.open("", "popupWindow", "width=600,height=600");
        popupWindow.document.write("<img src='" + imageUrl + "' alt='Grafico' style='max-width: 100%; max-height: 100%;'>");
    }
</script>
    </body>
</html>
